{% load static %}
<div class="ui menu">
    <div class="ui container">
        <a href="{% url 'todo:home' %}" class="header item">
            <img class="logo" class="logo" src="{% static 'images/Logo.png' %}"/>
        </a>


        <div class="right item">
            <a href="{% url 'todo:create-todo' %}" class="ui primary button">Create Todo</a>
            {% if request.user.is_authenticated %}

            <div class="ui simple dropdown item">
                {{request.user.username}} <i class="dropdown icon"></i>
                <div class="menu">
                    <form class="ui large form" method="post" action="">

                        {% csrf_token %}
                        <input class="ui button"
                               type="submit"
                               value="Sign out"
                        />
                    </form>
                </div>
            </div>

            {% else %}
            <div class="ui item">
                <a href="{% url 'authentication:login' %}" class="ui primary button">Login</a>
            </div>

            <div class="ui item">
                <a href="{% url 'authentication:register' %}" class="ui primary button">Register</a>
            </div>

            {% endif %}
        </div>
    </div>
</div>